**Question 1**:  Write a query counts the number of Hall of Fame inductees that were accepted with at least 95% of the votes.

In [ ]:
"""
SELECT count( * ) 
  FROM Lahman_HallOfFame hall
 WHERE hall.votes / hall.ballots > 0.95;

"""

**Question 2**: Write a query that lists all players who have never been nominated for the Hall of Fame.

In [ ]:
"""
SELECT DISTINCT  lp.playerID, lp.nameFirst, lp.nameLast
  FROM Lahman_People lp
       LEFT OUTER JOIN
       Lahman_HallOfFame hall ON hall.playerID = lp.playerID
 WHERE (hall.playerID) IS NULL;
"""

**Question 3**:  Write a query that prints the player with the highest batting average among players with at least 80 at bats.

In [ ]:
"""
SELECT PlayerID, LP.nameFirst, LP.nameLast
  FROM (
           SELECT PlayerID AS PlayerID_old,
                  AB + ABP AS AB,
                  H + HP AS H
             FROM (
                      SELECT Lahman_Batting.playerID AS PlayerID,
                             sum(Lahman_Batting.AB) AS AB,
                             sum(Lahman_Batting.H) AS H
                        FROM Lahman_Batting
                       GROUP BY Lahman_Batting.playerID
                  )
                  LEFT OUTER JOIN
                  (
                      SELECT Lahman_BattingPost.playerID AS PlayerID_post,
                             sum(Lahman_BattingPost.AB) AS ABP,
                             sum(Lahman_BattingPost.H) AS HP
                        FROM Lahman_BattingPost
                       GROUP BY Lahman_BattingPost.playerID
                  )
                  ON PlayerID = PlayerID_post
       )
       LEFT OUTER JOIN Lahman_People AS LP ON LP.playerID = PlayerID_old
 WHERE H >= 80
 ORDER BY H / AB DESC
 LIMIT 1;



"""

**Question 4**:  Write a query the prints a list of franchises that have won World Series titles along with the number of World Series wins ordered in descending order by number of wins.

In [ ]:
"""

SELECT franchID,
       COUNT( * ) AS [Number of World Series Wins]
  FROM (
           SELECT DISTINCT Lahman_SeriesPost.yearID,
                           Lahman_SeriesPost.teamIDwinner,
                           Lahman_Teams.franchID
             FROM Lahman_SeriesPost
                  LEFT OUTER JOIN
                  Lahman_Teams ON Lahman_Teams.teamID = Lahman_SeriesPost.teamIDwinner
            WHERE Lahman_SeriesPost.round = 'WS'
            GROUP BY Lahman_SeriesPost.yearID,
                     Lahman_Teams.franchID
       )
 GROUP BY franchID
 ORDER BY COUNT( * ) DESC;


"""

**Question 5**: Write a query that prints a list of active franchises and their average annual salary since 2010.

In [ ]:
"""
SELECT DISTINCT Lahman_TeamsFranchises.franchName,
                round(avg(AVGsal),2)
  FROM (
           SELECT DISTINCT Lahman_Salaries.yearID AS Year,
                           Lahman_Salaries.teamID AS Team,
                           avg(Lahman_Salaries.salary) AS AVGsal
             FROM Lahman_Salaries
            WHERE Lahman_Salaries.yearID >= 2010
            GROUP BY Lahman_Salaries.teamID,
                     Lahman_Salaries.yearID
       )
       LEFT OUTER JOIN
       Lahman_Teams ON Lahman_Teams.teamID = Team
       LEFT OUTER JOIN
       Lahman_TeamsFranchises ON Lahman_TeamsFranchises.FranchisesfranchID = Lahman_Teams.franchID
 WHERE Lahman_TeamsFranchises.active = 'Y'
 GROUP BY Lahman_TeamsFranchises.FranchisesfranchID
 ORDER BY FranchisesfranchID;

"""

Congratulations!  You have completed project 2.  Please upload your completed database (`Baseball.db`), your `.sql` file to create the database, and your Jupyter notebook to Blackboard. As always, the work you submit should be your own. This assignment will be due by **11:59pm on Monday 4/20**